@import url(https://fonts.googleapis.com/css?family=Acme);
.headerClass{
    font-family: 'Acme', sans-serif;
    text-align: center;
}
/* finish styling Beverages and home page links */

body{
    
}
#titleDiv{
    height: 80px;
    background-color:white;
    padding-top: 10x;
    padding-bottom: 10px;
    position: relative;
 
}
#menuDiv{
    background-color:white;
    height: 40px;
    border-bottom: 1px white;
    border-top: 1px black;
    border-style: solid none;
    padding-top: 10px;
    position: relative;

}
.centerClass{
    text-align: center;
}
.menuClass{
    padding-left: 20px;
    float: left;
    width: 80px;
}
#descriptionDiv{
    margin: auto;
    padding: 10px;
    width: 380px;
    height: 220px;
    border-style: solid;
}
.beverages{
    width: 320px;
    padding-left: 20px;
}

#contentDiv{
    position: relative;
    width: 100%;
    border-bottom: 1px black;
    border-top: 1px black;
    border-style: solid none;
    text-align: center;
}

.footerClass{
    text-align: center;
    background-color:white;
    border-bottom: 1px black;
    border-top: 1px white;
    border-style: solid none;
    padding-bottom: 10px;
}

#picDiv{
    height: 160px;
    margin-top: 20px;
}

.menuItem{
    position: relative;
    width: 300px;
    text-align: center;
    float:left;
    padding-left: 20px;
}
#footerDiv{
    position: relative;
}
#restMenuDiv{
    position: relative;
    display:inline-block;/*this is treated like text so we can wrap it in a wrapper div and center it with text-align-center*/
}
#wrapperDiv{
   text-align:center;
}
.inputClass{
    text-align: left;
    width: 220px;
    padding-left: 20px;
}
#submitDiv{
    text-align: right;
}
#phone, #additionalInformation, #reason{
    width: 220px;
}
#additionalInformation{
    height: 100px;
}
#formDiv{
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
#submitDiv{
    padding-top: 10px;
}
#fullName,#eMail,#phone, #additionalInformation, #reason{
    width: 220px;
    margin-bottom: 5px;

}


#spacerDiv{
    height: 10px;
}
#contentDiv{
    position: relative;
    background-color:azure;
    padding-bottom: 20px;
    margin-top: 10px;
}

.required{
    font-weight: bold;
}